<launch>
<node pkg="MD03ARIA" type="teleoperation_neu" name="teleoperation_neu" output="screen" />
<node pkg="rviz" type="rviz" name="rviz" output="screen" />
<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" />
<node pkg="dynamic_reconfigure" type="reconfigure_gui" name="reconfigure_gui" output="screen" />
</launch>
