<launch>
        <node pkg="rosserial_python" type="serial_node.py" args="$(env ARDUINO_PORT)" name="arduino_node" output="screen"/>
	<node pkg="MD03ARM" type="driver_arm" name="driver_arm" args="$(env ISS_PORT_ARM)" output="screen"/>
	<node pkg="MD03ARM" type="driver_neu" name="driver_neu" args="$(env ISS_PORT_Kauil)" output="screen"/>	
	<node pkg="uvc_cam" type="uvc_cam_node" name="uvc_cam_node" output="screen">
		<param name="device" value="/dev/video0"/>
		<param name="width" value="640"/>
		<param name="heigth" value="480"/>
		<param name="frame_rate" value="20"/>
		<param name="exposure" value="0"/>
	</node>
</launch>




